
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>Society Care</title>
</head>
<body>
    <header>
        <div class ="logo">
            <p>Dev</p>
        </div>
        <nav>
            <ul>
                <li><a id = "navbar" href="{% url 'member' request.user.username %}">Profile</a></li>
                <li><a id = "navbar" href="{% url 'member_complaints' request.user.username %}">Comp</a></li>
                <li><a id = "navbar" href="{% url 'm_maintenance' request.user.username %}">Maintenance</a></li>
                <li><a id = "navbar" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}

    <footer></footer>
</body>
</html>